.page-title {
  font-size: 50px;
  margin: 30px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-direction: column;
  gap: 33px;
  margin-left: 30px;
}

.project-box {
  display: flex;
  padding: 20px;
  gap: 35px;
  background-color: #F1F1FF;
  width: 930px;
}

.project-image {
  width: 200px;
  height: 110px;
  object-fit: cover;
  border: 3px solid #D9DAFD;
  border-radius: 3px;
}

.project-info {
  display: flex;
  flex-direction: column;
}

.project-title {
  font-size: 24px;
  padding-bottom: 10px;
}

.project-desc {
  font-size: 16px;
}

.project-tags {
  display: flex;
  gap: 10px;
  margin-top: auto;
}

.tag {
  display: flex;
  background-color: #8C8FD6;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  height: 21px;
  align-items: center;
  justify-content: center;
  color: #FAFAFF;
}

