@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    b {
        @apply font-boldbody;
    }
}

@keyframes slideFadeIn {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@layer components {
    .page-content {
        @apply ml-[100px] mb-[200px];
    }
    .page-title {
        @apply my-[30px] text-[50px] font-title relative;
    }

    .animate-slideFadeIn {
        display: inline-block;
        opacity: 0;
        animation: slideFadeIn 0.5s forwards;
        animation-delay: calc(0.1s * var(--index));
    }

    .title-wrapper {
        @apply relative flex flex-col items-center;
    }

    .title-bg {
        @apply bg-med-dark-purple h-[20%] w-full absolute top-[53%];
    }
}