@font-face {
    font-family: 'Mangiola';
    src: url('/public/assets/fonts/Mangiola-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
  font-family: 'SF Compact Thin';
  src: url('/public/assets/fonts/SF-Compact-Display-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Regular';
  src: url('/public/assets/fonts/SF-Compact-Display-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Thin Italic';
  src: url('/public/assets/fonts/SF-Compact-Text-ThinItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Compact Regular Italic';
  src: url('/public/assets/fonts/SF-Compact-Text-RegularItalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}